

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Test</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4"></div>
</div>

<script>
    $(document).ready(function() {
        $.post("@Url.Action("GetExerciseEntry", "Home")", { id: 1 }, function(data) {
            alert(data);
        });



    });
</script>